# **DRAFT UAS**

### Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
# import mysql.connector
from sqlalchemy import create_engine

In [12]:
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="",
#   database="dw_aw"
# )

Engine

In [3]:
engine = create_engine("mysql+mysqlconnector://root:@localhost/dw_aw")

### Read Data

In [10]:
fact_finance_df = pd.read_sql("SELECT * FROM factfinance", engine)
fact_finance_df.head()

,TimeKey,OrganizationKey,DepartmentGroupKey,ScenarioKey,AccountKey,Amount
0,1,3,6,1,99,45000.0
1,32,3,6,1,99,45000.0
2,63,3,6,1,99,45000.0
3,216,3,6,1,99,45000.0
4,244,3,6,1,99,45000.0

In [19]:
fact_internet_sales = pd.read_sql("SELECT * FROM factinternetsales", engine)
fact_internet_sales.head()

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber
0,346,1,13,8,11003,1,6,9,SO43701,1,...,3400.0,0.0,0.0,1912.0,1912.0,3400.0,272.0,85.0,None,None
1,336,1,13,8,14501,1,100,4,SO43700,1,...,699.0,0.0,0.0,413.0,413.0,699.0,56.0,17.0,None,None
2,310,1,13,8,21768,1,19,6,SO43697,1,...,3578.0,0.0,0.0,2171.0,2171.0,3578.0,286.0,89.0,None,None
3,346,1,13,8,25863,1,100,1,SO43699,1,...,3400.0,0.0,0.0,1912.0,1912.0,3400.0,272.0,85.0,None,None
4,346,1,13,8,28389,1,39,7,SO43698,1,...,3400.0,0.0,0.0,1912.0,1912.0,3400.0,272.0,85.0,None,None

In [20]:
dimention_reseller_df = pd.read_sql("SELECT * FROM dimreseller", engine)
dimention_reseller_df.head()

,ResellerKey,GeographyKey,ResellerAlternateKey,Phone,BusinessType,ResellerName,NumberEmployees,OrderFrequency,OrderMonth,FirstOrderYear,LastOrderYear,ProductLine,AddressLine1,AddressLine2,AnnualSales,BankName,MinPaymentType,MinPaymentAmount,AnnualRevenue,YearOpened
0,1,637,AW00000001,245-555-0173,Value Added Reseller,A Bike Store,2,S,5.0,2001.0,2002.0,Road,2251 Elliot Avenue,None,300000.0,International Bank,NaN,NaN,30000.0,1970
1,2,635,AW00000002,170-555-0127,Specialty Bike Shop,Progressive Sports,10,A,5.0,2002.0,2004.0,Mountain,3207 S Grady Way,None,800000.0,International Security,1.0,NaN,80000.0,1972
2,3,584,AW00000003,279-555-0130,Warehouse,Advanced Bike Components,40,Q,6.0,2001.0,2004.0,Road,12345 Sterling Avenue,None,1500000.0,Primary International,2.0,NaN,150000.0,1974
3,4,572,AW00000004,710-555-0173,Value Added Reseller,Modular Cycle Systems,5,S,4.0,2002.0,2004.0,Road,800 Interchange Blvd.,Suite 2501,300000.0,United Security,3.0,600.0,30000.0,1976
4,5,322,AW00000005,828-555-0186,Specialty Bike Shop,Metropolitan Sports Supply,13,A,6.0,2002.0,2004.0,Road,482505 Warm Springs Blvd.,None,800000.0,Primary Bank and Reserve,NaN,NaN,80000.0,1978

### Assess Data

In [14]:
fact_finance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39409 entries, 0 to 39408
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TimeKey             39409 non-null  int64
 1   OrganizationKey     39409 non-null  int64
 2   DepartmentGroupKey  39409 non-null  int64
 3   ScenarioKey         39409 non-null  int64
 4   AccountKey          39409 non-null  int64
 5   Amount              39409 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 1.8 MB

In [15]:
fact_finance_df.describe()

,TimeKey,OrganizationKey,DepartmentGroupKey,ScenarioKey,AccountKey,Amount
count,39409.000000,39409.000000,39409.000000,39409.000000,39409.000000,3.940900e+04
mean,536.921566,6.915781,4.412038,1.122967,66.276790,3.447538e+04
std,321.488175,2.927269,2.375372,0.328403,23.911898,1.640419e+05
min,1.000000,3.000000,1.000000,1.000000,4.000000,-1.121920e+06
25%,244.000000,5.000000,2.000000,1.000000,60.000000,1.071400e+02
50%,550.000000,6.000000,6.000000,1.000000,72.000000,3.800000e+02
75%,823.000000,8.000000,6.000000,1.000000,83.000000,9.056250e+03
max,1096.000000,13.000000,7.000000,2.000000,101.000000,4.820990e+06

In [18]:
fact_finance_df.duplicated().sum()

0

In [17]:
fact_finance_df.isna().sum()

TimeKey               0
OrganizationKey       0
DepartmentGroupKey    0
ScenarioKey           0
AccountKey            0
Amount                0
dtype: int64